- title("Contact the UCCN")
  
%section#header
  %h1 Contact the UCCN
%section.contact
  %aside.two_quarter
    .cform.block
      .title
        %h2 Contact Us!
      .elements
        #form         
          %p{:style => 'text-align:right;font-style:italic;font-size:.8em'} Fields with (*) are required
          = form_for @message, :url => contact_create_path(@message) do |f|
            - if @message.errors.any?
              %p There were errors trying to send your message:               
              - @message.errors.full_messages.each do |msg|   
                *        
                = msg
                %br/          
              %br/
            %p
              = f.text_field :name
              = f.label :name 
              *
            %p
              = f.text_field :email
              = f.label :email
              *
            %p
              = f.text_field :phone
              = f.label :phone
            %p.area
              = f.label :body
              *
              %br/
              = f.text_area :body, :size => "60x8"
            %p.area
              = f.submit 'Send', :class => 'btn'
    .info.block
      %h2 Get in Touch
      .elements
        %h3 Address
        %p 
          P.O. Box 130 
          %br/
          Downers Grove, IL 60515
        %h3 Phone
        %p (630) 343-9820
  .map.two_quarter
    .elements
      %h2 Questions? Comments? Suggestions?
      %p We take them all!
      %br/
      %p Fill out this handy form on the left and press send and our website will notify us immediately.
      %br/
      =image_tag '../images/question_box.png'
  .clear
      