= form_for [:admin, @album], :html => { :multipart => true } do |f|
  - if @album.errors.any?
    .message.errormsg{:style => "display: block; "}
      %p 
        There were errors trying to save this album: 
        %br
        - @album.errors.full_messages.each do |msg|   
          *        
          = msg
          %br/   
    - if !notice.nil?
      .message.errormsg{:style=> 'display:block;'}
      %p= notice
  %p
    = f.label :name 
    %br
    = f.text_field :name, :class => 'text medium'
  %p
    = f.label :description
    %br
    = f.text_field :description, :class => 'text big'  
  %p    
    = f.label :public, "Display this Album to All Users (Public)?"
    = f.check_box :public
  %p
    = f.submit :class => 'submit long'