= form_for [:admin, @event] do |f|
  - if @event.errors.any?
    .message.errormsg{:style => "display: block; "}
      %p 
        There were errors trying to save this event: 
        %br
        - @event.errors.full_messages.each do |msg|   
          *        
          = msg
          %br/   
    - if !notice.nil?
      .message.errormsg{:style=> 'display:block;'}
      %p= notice
  %p
    = f.label :name 
    %br
    = f.text_field :name, :class => 'text big'
  %p
    Category
    %br
    = f.select :event_category_id, @categories.collect { |c| [c.name, c.id ]}
  %p
    = f.label :description
    %br
    = f.text_area :description, :class => 'wysiwyg'  
  %p
    = f.label :start_at
    = f.datetime_select :start_at, :date_separator => ' ', :order => [:month, :day, :year]
    = f.check_box :all_day, :style => 'margin-left: 15px'
    All Day Event 
    %em NOTE: If checked, then time is ignored
  %p
    = f.label :end_at
    = f.datetime_select :end_at, :date_separator => ' ', :order => [:month, :day, :year]
  %p
    = f.label :members_only 
    = f.check_box :members_only
  %p
    = f.submit :class => 'submit mid'    