- content_for :title do
  UCCN Event
  
- content_for :head do
  =  stylesheet_link_tag "event_calendar"
  
%section#header
  %h1 Event Information
%section.pageboxy.white
  %section.full_width
    .elements
      %p 
        Event Information:
        = @event.name
      %p
        Date:
        = @event.start_at.strftime("%A, %B #{@event.start_at.day.ordinalize}")
        - if !@event.all_day?
          = @event.start_at.strftime(" at %l:%M %p")
  .clear