= simple_form_for [:admin, @post] do |f|
  - if @post.errors.any?
    .message.errormsg{:style => "display: block; "}
      %p 
        There were errors trying to save this blog post: 
        %br
        - @post.errors.full_messages.each do |msg|   
          *        
          = msg
          %br/   
    - if !notice.nil?
      .message.errormsg{:style=> 'display:block;'}
      %p= notice
  .leftside{:style => 'float:left;width:750px'}
    %p
      = f.label :title
      %br/
      = f.text_field :title, :class => 'text big'
    %p
      = f.label :body
      %br/
      = f.text_area :body, :class => 'wysiwyg'
    %p
      %label Visibility
      %br/
      = f.select :members_only, [[ "Public", "false" ], [ "Members Only", "true" ]]
    %p
      %label Status
      %br/
      = f.select :status, [[ "Published", "2" ], [ "Draft", "1" ]]
    %p
      %label Publish Date
      %br/
      = f.text_field :published_at, :class => "text medium"
  .rightside{:style => 'float:right;width:220px'}
    %p
      %label Categories
    .category_list{:style => 'height:200px;overflow:auto;border: 1px solid #D0D0D0;padding:5px;'}
      =f.association :categories, :as => :check_boxes, :label => false, :input_html => { :style => 'margin-right:5px' } 
  .clear
  %p
    = f.submit :class => 'submit mid'