- content_for :title do
  UCCN Associations

%section#header
  %h1 Family Child Care Associations  
%section.pages
  %aside.one_quarter
    %h2 Resources
    %ul
      %li= link_to 'Associations', resources_associations_path
      %li= link_to 'Food Programs', resources_foodprograms_path
      %li= link_to 'Referrals', resources_referrals_path
  %section.three_quarter
    %h1 Associations
    %p
      The following is a list of Family Child Care Associations in the area. This list is provided for your information only. United Child Care Network does not recommend or endorse any particular association. 
    %br/
    %h2 State/National Associations
    %ul
      %li
        %strong Illinois Association for Family Child Care (IAFCC)
        %br/
        2030 Green Bay Road
        %br/
        North Chicago, IL 60064
        %br/
        Phone: 847-473-5000
        %br/
        Fax: 847-473-5055
        %br/
        %a{:href => "http://www.illinoisafcc.org"} www.illinoisafcc.org
        %br/
        For more information, contact the IAFCC at
        = mail_to "illinoisafcc@sbcglobal.net"
        %br/
        %br/
      %li
        %strong National Association for Family Child Care (NAFCC)
        %br/
        Phone: 515-282-8192
        %br/
        %a{:href => "http://www.nafcc.org"} www.nafcc.org
        %br/
        Contact(s): Lona Christoffers
        %br/
        %br/
    %h2 DuPage County
    %ul
      %li
        %strong Lisle Naperville Home Day Care Association 
        %br/
        Phone: 630-961-1274 
        %br/
        %a{:href => "http://www.napervillechildcare.org"} www.napervillechildcare.org
        %br/
        Contact(s): Arlene Tesmer 
        %br/
        Meetings are held on the first Thursday of every month
        %br/
        %br/
      %li
        %strong Warrenville Home Day Care Association
        %br/
        Phone: 630-393-9787
        %br/
        Contact(s): Barbara Olson
        %br/
        Meetings are the third Wednesday of each month
        %br/
        Contact Email:
        = mail_to "warrenvillechild@aol.com"
        %br/
        %br/
      %li
        %strong United Child Care Network
        %br/
        Phone: 630-985-3323
        %br/
        %a{:href => "http://www.uccn.org"} www.uccn.org
        %br/
        Contact(s): Kathy Manderfield
        %br/
        Meetings are held on the third Thursday of each month
        %br/
        %br/
      %li
        %strong Wheaton/Glen Ellyn Child Care Association
        %br/
        Phone: 630-653-8792
        %br/
        %a{:href => "http://www.wgecca.com"} www.wgecca.com
        %br/
        Contact(s): Nancy Kaszyca
        %br/
        Meetings are held on the third Tuesday of each month
        %br/
        %br/
        
      %li
        %strong Northwest DuPage FDC Association
        %br/
        Phone: 630-469-4405
        %br/
        Contact(s): Maureen Lauing
        %br/
        Serving the Glen Ellyn, Carol Stream, Glendale Heights area
        %br/
        Meetings are held on the third Wednesday of each month
        %br/
        %br/

      %li
        %strong Carol Stream FDC
        %br/
        Phone: 630-540-1455
        %br/
        Contact(s): Sandy Stich
        %br/
        Meetings are held on the third Wednesday every other month starting in September
        %br/
        %br/
        
      %li
        %strong Aurora Home Day Care Association
        %br/
        Phone: 630-898-3891
        %br/
        Contact: Kim Starkey
        %br/
        %a{:href => "mailto:kastarkey@comcast.net"} kastarkey@comcast.net
        %br/
        %br/
      %li
        %strong DuPage Association for the Education of Young Children (AEYC)
        %br/
        %a{:href => "http://www.dupageaeyc.org"} www.dupageaeyc.org
        %br/
        %br/
    %h2 Kane County 
    %ul
      %li
        %strong The Association for Home Child Care Professionals
        %br/
        Phone: 847-695-0379
        %br/
        Contact(s): Kim Goritz
        %br/
        Serving Northern Kane & St. Charles area
        %br/
        Contact Email:
        %a{:href => "mailto:KimGoritz@foxvalley.net"} KimGoritz@foxvalley.net
        %br/
        Call for meeting dates & locations as they change monthly
        %br/  
        %br/
      %li
        %strong Far West Family Child Care Association
        %br/
        Phone: 630-466-0243
        %br/
        Contact(s): Jeanette Kielp
        %br/
        Serving West Kane County & Sugar Grove area
        %br/
        Meets 4th Thursday of the month
        %br/
        %br/
      %li
        %strong Fox Valley Child Care Providers Network
        %br/
        Meetings are held on the third Tuesday of each month
        %br/
        %br/
      %li
        %strong Kane County Connection for Family Child Care
        %br/
        %a{:href => "http://www.c4fcc.org"} www.c4fcc.org
        %br/
        Vicki Celia 630-879-3648
        %br/
        Cheryl Frankowski 847-836-0116
        %br/
        Meet 4th Wednesday every month (no meeting in December) at Colonial Cafe, McLean Blvd., Elgin, IL
        %br/
        %br/
    %h2 Will County    
    %ul
      %li
        %strong Bolingbrook Family Child Care Association
        %br/
        Phone: 630-759-9503
        %br/
        Contact(s): Barbara Rice
        %br/
        %br/
      %li
        %strong Will County Child Care Association
        %br/
        Co-Presidents:
        %br/
        Diane Morrow - 815.729-3735
        %a{:href => "mailto:DLM@mc.net"} DLM@mc.net
        %br/
        Sarah Hamilton - 815.725-7654
        %a{:href => "mailto:sarazkidz@sbcglobal.net"} sarazkidz@sbcglobal.net
        %br/
        Meetings are held on the third Thursday of each month
        %br/
        %br/
      %li
        %strong Family Childcare Network
        %br/
        Phone: 815-744-4426
        %br/
        Contact(s): Christine Adamson
        %br/
        %a{:href => "mailto:christineadamson@sbcglobal.net"} christineadamson@sbcglobal.net
        %br/
        Meetings held the second Tuesday every other month starting with September
        %br/
        %br/
    %h2 Cook County
    %ul
      %li
        %strong An Association for Kids’ Sake
        %br/
        Phone: 630-504-1207
        %br/
        Contact(s): Kathryn Mueller
        %br/
        %a{:href => "mailto:kjdietrich@wowway.com"} kjdietrich@wowway.com
        %br/
        Meetings are held on the first Tuesday each month at Church of the Holy Spirit, Bode Rd., Schaumburg, IL
        %br/
        %br/
    %h2 Kendall County
    %ul
      %li
        %strong Oswego Home Family Child Care Providers Network
        %br/
        Phone: 630-554-4722
        %br/
        Contact(s): Dianna Polinski
        %br/
        %a{:href => "mailto:dianna_polinski@comcast.net"} dianna_polinski@comcast.net
        %br/
        Meetings are usually held on the 2nd Tuesday of every month from 7 PM to 9 PM
        %br/
        %br/
    %p Additionally, the <a href="http://illinoisaeyc.org/affiliates">Illinois AEYC's website</a> has the list of all the affiliates that provide conferences and updates in their websites. 
  .clear