- content_for :title do
  Food Programs - UCCN

%section#header
  %h1 Food Programs
%section.pages
  %aside.one_quarter
    %h2 Resources
    %ul
      %li= link_to 'Associations', resources_associations_path
      %li= link_to 'Food Programs', resources_foodprograms_path
      %li= link_to 'Referrals', resources_referrals_path
  %section.three_quarter
    %h1 Food Programs
    %p
      Here is a list of Food Programs in the area. This is for your information only. United Child Care Network does not recommend or endorse any particular program. If you would like to add a food program to the list,
      = link_to 'contact us', contact_path
    %br/
    %ul
      %li
        %strong Day Care Resources, Inc.
        %br/
        P.O. Box 380
        %br/
        Morton, Il.  61550
        %br/
        1-800-238-0555
        %br/
        %br/
      %li
        %strong Illinois Child Care Bureau
        %br/
        1500 W. Cermak, 2nd Floor
        %br/
        (The Harris Bank Building)
        %br/
        Westchester, IL 60154
        %br/
        Phone: (708) 397-2295
        %br/
        Fax: (708) 397-2299
        %br/
        Email:
        %a{:href => "mailto:ICCB@illinoischildren.com"} ICCB@illinoischildren.com
        %br/
        %a{:href => "http://www.illinoischildren.com/"} www.illinoischildren.com
        %br/
        %br/
      %li
        %strong Association for Child Development
        %br/
        %br/
        %em Street Address
        %br/
        W. Harrison, Suite 212
        %br/
        Hillside, IL  60162
        %br/
        %br/
        %em Mailing Address
        %br/
        P.O. Box 7130
        %br/
        Westchester, IL  60154
        %br/
        Telephone: (800) 284-5273 or (708) 236-0863
        %br/
        Fax Number (708) 236-0872
        %br/
        E-mail: 
        = mail_to "acdillinois@acdcacfp.org"
        %br/
        %a{:href => "http://www.acdcacfp.org"} www.acdcacfp.org
        %br/
        %br/
      %li
        %strong YWCA
        %br/
        739 Roosevelt Rd. #8-210
        %br/
        Glen Ellyn, IL 60137
        %br/
        630-790-6600 ex. 222
        %br/
        %br/
      %li  
        %strong YWCA Aurora
        %br/
        201 N. River St
        %br/
        Aurora, IL. 60506
        %br/
        630-897-1363
        %br/
        %a{:href => "http://www.ywcaaurora.org"} www.ywcaaurora.org
        %br/
        = mail_to "staceyv@ywcaaurora.org"
        %br/
        %br/

        
  .clear