- form_for [:admin, @user] do |f|
  - if @user.errors.any?
    .message.errormsg{:style => "display: block; "}
      %p 
        There were errors trying to create this user: 
        %br
        - @user.errors.full_messages.each do |msg|          
          = msg
          %br
      %span.close{:title => 'Dismiss'}
  %p
    = f.label :login 
    %br
    = f.text_field :login, :class => 'text small'
    %span.note *
  %p
    = f.label :first_name
    %br
    = f.text_field :first_name, :class => 'text medium'
    %span.note *
  %p
    = f.label :last_name
    %br
    = f.text_field :last_name, :class => 'text medium'
    %span.note *
  %p
    = f.label :business_name
    %br
    = f.text_field :business_name, :class => 'text medium'
  %p
    = f.label :business_name
    %br
    = f.text_field :business_name, :class => 'text medium'
  %p
    = f.label :address1
    %br
    = f.text_field :address1, :class => 'text medium'
  %p
    = f.label :address2
    %br
    = f.text_field :address2, :class => 'text medium'
  %p
    = f.label :city
    %br
    = f.text_field :city, :class => 'text medium'
  %p
    = f.label :state
    %br
    = f.text_field :state, :class => 'text small'
  %p
    = f.label :zip_code
    %br
    = f.text_field :zip_code, :class => 'text small'
  %p
    = f.label :phone_number
    %br
    = f.text_field :phone_number, :class => 'text small'
  %p
    = f.label :cell_number
    %br
    = f.text_field :cell_number, :class => 'text small'
  %p
    = f.label :birthday
    %br
    = f.text_field :birthday, :class => 'text date_picker'
    %span.note Year is not mandatory
  %p
    = f.submit 'Add New User', :class => 'submit mid'

    