= form_for [:admin, @user] do |f|
  - if @user.errors.any?
    .message.errormsg{:style => "display: block; "}
      %p 
        There were errors trying to create this user: 
        %br
        - @user.errors.full_messages.each do |msg|   
          *        
          = msg
          %br/
  %p
    = f.label :password 
    %br
    = f.password_field :password, :class => 'text medium'
  %p
    = f.label :password_confirmation 
    %br
    = f.password_field :password_confirmation, :class => 'text medium'
  %p
    = f.submit 'Update Password', :class => 'submit long'
