= form_for [:admin, @user] do |f|
  -if @user.errors.any?
    .message.errormsg{:style=> 'display:block;'}
      %p
        There were errors trying to update this user:
        %br/
        - @user.errors.full_message.each do |msg|
          *
          = msg
          %br/
  - if !notice.nil?
    .message.success{:style=> 'display:block;'}
      %p 
        = notice
  %p
    = f.label :display_name
    %br/
    = f.text_field :display_name, :class => 'text medium'
  %p
    = f.label :birthday
    = f.text_field :birthday, :class => 'text date_picker'
  %p
    = f.submit 'Update', :class => 'submit mid'