= form_for [:admin, @user] do |f|
  =if @user.errors.any?
    .message.errormsg{:style=> 'display:block;'}
      %p
        There were errors trying to update this user:
        %br/
        - @user.errors.full_message.each do |msg|
          *
          = msg
          %br/
  %p
    = f.label :active
    = f.check_box :active
  %p
    = f.label :admin
    = f.check_box :admin
  %p
    = f.label :board_member
    = f.check_box :board_member
  %p
    = f.label :board_title
    = f.text_field :board_title, :class => 'text medium'
  %p
    = f.label :receive_emails
    = f.check_box :receive_emails
  %p
    = f.label :include_in_directory
    = f.check_box :include_in_directory
  %p
    = f.label :display_address_in_directory
    = f.check_box :display_address_in_directory
  %p
    = f.label :display_phone_in_directory
    = f.check_box :display_phone_in_directory
  %p 
    = f.label :backup_care
    = f.check_box :backup_care
  %p
    = f.submit 'Update', :class => 'submit mid'