.block.withsidebar
  .block_head
    .bheadl
    .bheadr
    %h2 
      Edit User -
      =@user.name
    %ul
      %li.nobg
        =link_to 'Refresh', edit_admin_user_path(@user)
      %li
        =link_to 'Return to User List', admin_users_path
  .block_content
    .sidebar
      %ul.sidemenu
        %li
          %a{:href => "#info"} Information
        %li
          %a{:href => "#password"} Change Password
        %li
          %a{:href => "#address"} Address
        %li
          %a{:href => "#contact"} Contact
        %li
          %a{:href => "#pref"} Preferences
        %li
          %a{:href => "#settings"} Website Settings      
    #info.sidebar_content
      %h3 Information
      %hr/
      = render 'information'
    #password.sidebar_content
      %h3 Change User's Password
      %hr/
      = render 'new_password'
    #address.sidebar_content
      %h3 Change Address
      %hr/
      = render 'address'
    #contact.sidebar_content
      %h3 Change Contact Information
      %hr/
      = render 'contact'
    #pref.sidebar_content
      %h3 Change Preferences
      %hr/
      = render 'preferences'
    #settings.sidebar_content
      %h3 Change Website Settings
      %hr/
      = render 'website_settings'   
    .bheadl
    .bheadr