.block
  .block_head
    .bheadl
    .bheadr
    %h2 Daycare Openings
    %ul
      %li.nobg        
        = link_to image_tag('/images/add.png', :alt => 'Add', :style=>'vertical-align: text-bottom') + ' Add New Daycare Opening', new_admin_opening_path, :style => 'line-height:5em'
  .block_content
    %p 
      %em Click the opening to edit it's information
    - if @openings.empty?
      .message.warning{:style => "display: block; "}
        %p No Daycare Openings currently in the system
    - else
      - if !notice.nil?
        .message.success{:style=> 'display:block;'}
          %p 
            = notice
      %table.sortable{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th.header{:style => "cursor: pointer; "} Name
            %th.header{:style => "cursor: pointer; "} City
            %th.header{:style => "cursor: pointer; "} Phone
            %th.header{:style => "cursor: pointer; "} Last Updated
            %td.header{:style => "cursor: pointerx; "} Delete
        %tbody
          - @openings.each do |opening| 
            %tr{ :class => cycle('even', 'odd') }
              %td=link_to opening.name, edit_admin_opening_path(opening)
              %td= opening.city
              %td= opening.phone
              %td= opening.updated_at.strftime("%-m/%e/%Y %l:%M %p")
              %td
                = link_to image_tag('/images/delete.png', :alt=>'Delete'), admin_opening_path(opening), :confirm => "Are you sure you want to delete this daycare opening?\n\nWARNING: THIS CANNOT BE UNDONE!!!!", :method => :delete
