- title("UCCN Forum")

%section#header
  %h1 UCCN Members Forum
%section.pageboxy.white
  %section.full_width
    .elements    
      %p#notice=notice
      = link_to 'Create new Post', members_forum_new_path
      %br/
      %br/
      - if @conversations.empty?
        .message.warning{:style => "display: block; "}
          %p No Forum Threads Available
      - else
        %table.forum
          %thead
            %tr{:style => 'background-color:#0065A7;color:#EEEEEE'}
              %th.header{:style => "text-align:left;padding:15px"} Title
              %th.header{:style => "cursor: pointer;width:175px;padding:15px;text-align:right"} Last Updated
              %th.header{:style => "cursor: pointer;width:72px;padding:15px"} Replies
              %th.header{:style => "cursor: pointer;width:72px;padding:15px"} Views
          %tbody
            - @conversations.each do |c| 
              %tr
              %td{:style => 'vertical-align:middle;border-bottom: 1px solid #333; padding:15px'}
                %strong{:style => 'font-size:1.2em'}= link_to c.title, members_forum_post_path(c.id)
                %br/
                by 
                %strong= c.comments.first.user.name #
              %td{:style => 'font-size:.82em;text-align:right;vertical-align:middle;border-bottom: 1px solid #333; padding:15px'}
                = c.comments.last.created_at.strftime("%-m/%-e/%Y %l:%M %p")
                %br/
                by 
                %strong= c.comments.last.user.name
              %td{:style => 'text-align:center;vertical-align:middle;font-size:.82em;border-bottom: 1px solid #333; padding:15px'}= c.comments.count-1
              %td{:style => 'text-align:center;vertical-align:middle;font-size:.82em;border-bottom: 1px solid #333; padding:15px'}= c.views
      %br/
      = will_paginate @posts, :class => "prefnext", :previous_label => "Newer", :next_label => "Older"
  .clear
      