- title("UCCN Forum")

- content_for :top_head do
  = stylesheet_link_tag "admin/jquery.wysiwyg"
  
- content_for :head do
  = javascript_include_tag "admin/jquery.wysiwyg"
  :javascript
    $(function() {
        $('.wysiwyg').wysiwyg({css: "/stylesheets/admin/wysiwyg.css"});
    });

%section#header
  %h1 UCCN Forum
%section.pageboxy.white
  %section.full_width
    .elements
      = link_to 'Return to Forum Posts', members_forum_path, :style => 'float:right'
      %p#notice=notice
      %h2= @conversation.title
      %br/      
      - @conversation.comments.each do |c|
        .forum_post{:style => 'border: 1px solid #101010;'}
          .post_head{:style => 'background-color:#0065A7;color:#EEEEEE;border-bottom: 1px solid #101010;padding:3px;line-height:24px;'}
            .user{:style => 'float:left;clear:right'}=c.user.name
            .datetime{:style => 'float:right'}
              Posted at 
              =c.created_at.strftime("%-m/%-e/%Y %l:%M %p")    
            &nbsp; 
          .post_edit{:style => 'float:right;padding-right:5px;padding-top:5px;'}
            -if (current_user.admin? || c.user == current_user)       
              =link_to image_tag("/images/edit.png", :border => 0), :action => :edit, :id => c.id
            &nbsp;
          .post_body{:style => 'padding: 10px'}
            =raw(c.body)
            -if c.created_at != c.updated_at
              %span{:style => 'font-size:.8em;color:#A0A0A8;font-style:italic;display:block;margin-top:10px;'}
                Edited: 
                =c.updated_at.strftime("%-m/%-e/%Y %l:%M %p")
      %br/
      %br/
      = form_for [:members, @comment], :url => members_forum_reply_url(:id => @conversation.id) do |f|
        - if @comment.errors.any?
          %p
            =pluralize(@comment.errors.count, "error")
            prohibited this reply from being saved:
          %ul
            -@comment.errors.full_messages.each do |msg|
              %li= msg
        %p
          Add a Reply
          %br/
          =f.text_area :body, :class => 'wysiwyg'
        %p{:style => 'margin-top:15px'}      
          =f.submit :value => "Post Reply"
  .clear  