%h1
  = link_to 'UCCN Admin', admin_path
%ul#nav
  %li
    = link_to 'Users', admin_users_path
    %ul
      %li
        = link_to 'Add New User', new_admin_user_path        
  %li
    = link_to 'Events', admin_events_path
    %ul
      %li
        = link_to 'Add New Event', new_admin_event_path
      %li
        =link_to 'Manage Event Categories', admin_event_categories_path
  %li
    = link_to 'Openings', admin_openings_path
    %ul
      %li
        = link_to 'Add New Opening', new_admin_opening_path
  %li
    = link_to 'Blog', admin_posts_path
    %ul
      %li= link_to 'Add New Blog Post', new_admin_post_path
      %li= link_to 'Manage Categories', admin_categories_path
  %li
    = link_to 'Documents', admin_documents_path
    %ul
      %li= link_to 'Add New Document', new_admin_document_path
  %li=link_to 'Email', admin_email_path
  %li=link_to 'Messages', admin_messages_path
%p.user            
  = link_to "Website", :root     
  |   
  = link_to 'Members Area', :user_root
  |
  = link_to 'Logout', logout_path