%nav
  %ul#menu
    %li.current
      = link_to 'Home', :root
    %li
      = link_to 'About', about_path
      %ul
        %li
          = link_to 'Join', join_path
    %li
      = link_to 'Calendar', calendar_path
    %li
      = link_to 'Resources', resources_path
      %ul
        %li
          = link_to 'Associations', resources_associations_path
        %li
          = link_to 'Food Programs', resources_foodprograms_path
        %li
          = link_to 'Referrals', resources_referrals_path
    %li
      = link_to 'Blog', blog_path
    - if user_signed_in?
      %li
        = link_to 'Members', user_root_path
        %ul
          %li
            = link_to 'Forum', members_forum_path
          %li
            = link_to 'Documents', members_documents_path
          %li
            = link_to 'Member Directory', members_directory_path
          %li
            = link_to 'My Profile', profile_path
          - if current_user.admin?
            %li
              = link_to 'Administration', admin_path
          %li
            = link_to 'Logout', logout_path, :confirm => "Are you sure you wish to logout?"
    - else
      %li
        = link_to 'Members', login_path
  %br.clear/