%nav
  %ul#menu
    %li.current
      = link_to 'Home', :root
    %li
      %a{:href => "#"} About
      %ul
        %li
          %a{:href => "#"} Join
    %li
      %a{:href => "#"} Calendar
    %li
      %a{:href => "#"} Resources
      %ul
        %li
          %a{:href => "#"} Associations
        %li
          %a{:href => "#"} Food Programs
        %li
          %a{:href => "#"} Referrals
    %li
      %a{:href => "#"} Blog
    = if user_signed_in?
      %li
        %a{:href => "#"} Members
        %ul
          %li
            %a{:href => "#"} Forum
          %li
            %a{:href => "#"} Documents
          %li
            %a{:href => "#"} Member Directory
          %li
            %a{:href => "#"} My Profile
          = if current_user.admin?
            %li
              = link_to 'Administration', admin_path
          %li
            = link_to 'Logout', destroy_user_session_path, :confirm => 'Are you sure you wish to logout?'
    = else
      %li
        = link_to 'Members', new_user_session_path
  %br.clear/