= form_for [:admin, @user], :url => profile_url do |f|
  -if @user.errors.any?
    .message.errormsg{:style=> 'display:block;'}
      %p
        There were errors trying to update your profile:
        %br/
        - @user.errors.full_message.each do |msg|
          *
          = msg
          %br/
  - if !notice.nil?
    .message.success{:style=> 'display:block;'}
      %p 
        = notice
  %p
    = f.label :business_name
    %br/
    = f.text_field :business_name, :class => 'text medium'
  %p
    = f.label :address1
    %br/
    = f.text_field :address1, :class => 'text medium'
  %p
    = f.label :address2
    %br/
    = f.text_field :address2, :class => 'text medium'
  %p
    = f.label :city
    %br/
    = f.text_field :city, :class => 'text small'
  %p
    = f.label :state
    %br/
    = f.text_field :state, :class => 'text small'
  %p
    = f.label :zip_code
    %br/
    = f.text_field :zip_code, :class => 'text small'
  %p
    = f.submit 'Update', :class => 'submit little'