= form_for [:admin, @user], :url => profile_url do |f|
  =if @user.errors.any?
    .message.errormsg{:style=> 'display:block;'}
      %p
        There were errors trying to update your profile:
        %br/
        - @user.errors.full_message.each do |msg|
          *
          = msg
          %br/
  %p
    = f.label :biography
    = f.text_area :biography, :class => 'wysiwyg'  
  %p.fileupload
    %label Photo:
    %br/
    %input#fileupload{:type => "file"}/
    %span#uploadmsg NOTE: The photo will be resized to fit the page
  %p
    = f.submit 'Update', :class => 'submit mid'