= form_for [:admin, @user], :url => profile_url do |f|
  -if @user.errors.any?
    .message.errormsg{:style=> 'display:block;'}
      %p
        There were errors trying to update your profile:
        %br/
        - @user.errors.full_message.each do |msg|
          *
          = msg
          %br/
  - if !notice.nil?
    .message.success{:style=> 'display:block;'}
      %p 
        = notice
  %p
    = f.label :login
    %br/
    =@user.login
  %p
    = f.label :first_name
    %br/
    = f.text_field :first_name, :class => 'text medium'
  %p
    = f.label :last_name
    %br/
    = f.text_field :last_name, :class => 'text medium'
  %p
    = f.label :email
    %br/
    = f.text_field :email, :class => 'text big'
  %p
    = f.submit 'Update', :class => 'submit mid'