- content_for :title do
  UCCN Member Directory

%section#header
  %h1 UCCN Members Directory
    
%section.main
  %section.full_width
    - if @users.empty?
      .message.warning{:style => "display: block; "}
        %p No Users to Display
    - else   
      %p{:style => 'text-align:right;margin:10px;font-style:italic'}
        Members with an asterisk (*) are available for backup care
      %table{:width => "99.1%", :border => '1px solid #333;'}
        %thead
          %tr{:style => 'font-size:1.1em'}
            %th.header{:style => "cursor: pointer;padding:5px;text-align:left"} Name
            %th.header{:style => "cursor: pointer;text-align:left"} Address
            %th.header{:style => "cursor: pointer;"} Phone Number(s)           
            %th.header{:style => "cursor: pointer;"} Birthday
        %tbody
          - @users.each do |user| 
            %tr{ :style => 'font-size:.9em;' + cycle('background: #f0f0f0;', 'background: #ffffff;') }              
              %td{:style => 'padding:5px;'}
                %strong= user.name
                = '*' if user.backup_care
                - if !user.business_name.nil? && !user.business_name.blank?
                  %br/
                  = user.business_name
                %br/
                = mail_to user.email
              %td
                = user.address1
                - if !user.address2.blank?
                  %br/
                  = user.address2
                - if !user.city.blank? && !user.state.blank? && !user.zip_code.blank?
                  %br/
                  = user.city + ', ' + user.state + ' ' + user.zip_code
              %td{:style=>"text-align:center"}
                - if !user.phone_number.blank?
                  = "Phone: #{string_to_phone_number(user.phone_number)}"
                - if !user.cell_number.blank?
                  - if !user.phone_number.blank?
                    %br/
                  = "Cell: #{string_to_phone_number(user.cell_number)}"
                - if !user.fax_number.blank?
                  - if !user.phone_number.blank? || !user.cell_number.blank?
                    %br/
                  = "Fax: #{string_to_phone_number(user.fax_number)}"
              %td{:style=>"text-align:center"}
                - if !user.birthday.nil? 
                  = user.birthday.strftime("%B %d")  
    .clear         