- title("UCCN Member Directory")

%section#header
  %h1 UCCN Members Directory    
%section.main
  %section.full_width
    - if @users.empty?
      .message.warning{:style => "display: block; "}
        %p No Users to Display
    - else      
      %p{:style => 'text-align:right;margin:10px;'}
        Download the Directory as a PDF  
        =image_tag '../images/pdfIcon16x16.gif', :style => 'vertical-align:text-bottom'
      %p{:style => 'text-align:right;margin:10px;font-style:italic;font-size:.85em'}
        Members with an asterisk (*) are available for backup care
      %table.directory
        %thead
          %tr{:style => 'font-size:1.1em'}
            %th.header{:style => "text-align:left"} Name
            %th.header{:style => "text-align:left"} Address
            %th.header Phone Number(s)           
            %th.header Birthday
        %tbody
          - @users.each do |user| 
            %tr{ :class => cycle('even', 'odd') }              
              %td
                %strong= user.name
                = '*' if user.backup_care
                - if !user.business_name.nil? && !user.business_name.blank?
                  %br/
                  = user.business_name
                %br/
                = mail_to user.email
              %td
                -if user.display_address_in_directory
                  = user.address1
                  - if !user.address2.blank?
                    %br/
                    = user.address2
                    - if !user.city.blank? && !user.state.blank? && !user.zip_code.blank?
                    %br/
                    = user.city + ', ' + user.state + ' ' + user.zip_code
                -else
                  Not Published
              %td{:style=>"text-align:center"}
                - if user.display_phone_in_directory
                  - if !user.phone_number.blank?
                    = "Phone: #{string_to_phone_number(user.phone_number)}"
                  - if !user.cell_number.blank?
                    - if !user.phone_number.blank?
                      %br/
                    = "Cell: #{string_to_phone_number(user.cell_number)}"
                  - if !user.fax_number.blank?
                    - if !user.phone_number.blank? || !user.cell_number.blank?
                      %br/
                    = "Fax: #{string_to_phone_number(user.fax_number)}"
                -else
                  Not Published
              %td{:style=>"text-align:center"}
                = user.date_of_birth.strftime("%B %-d") unless user.date_of_birth.nil?
    .clear         