.block.withsidebar
  .block_head
    .bheadl
    .bheadr
    %h2 
      Edit Your UCCN Profile
    %ul
      %li.nobg
        =link_to 'Refresh', profile_path
  .block_content
    .sidebar
      %ul.sidemenu
        %li
          %a{:href => "#info"} Information
        %li
          %a{:href => "#password"} Change Password
        %li
          %a{:href => "#address"} Address
        %li
          %a{:href => "#contact"} Contact
        %li
          %a{:href => "#bio"} Biography
        %li
          %a{:href => "#pref"} Preferences
    #info.sidebar_content
      %h3 Information
      %hr/
      = render 'information'
    #password.sidebar_content
      %h3 Change Your Password
      %hr/
      = render 'new_password'
    #address.sidebar_content
      %h3 Address
      %hr/
      = render 'address'
    #contact.sidebar_content
      %h3 Contact Information
      %hr/
      = render 'contact'
    #bio.sidebar_content
      %h3 Biography
      %hr/
      = render 'biography'
    #pref.sidebar_content
      %h3 Preferences
      %hr/
      = render 'preferences'
    .bheadl
    .bheadr