- title("Join the UCCN")
  
%section#header
  %h1 Request for Membership
%section.pageboxy.white
  %section.full_width
    .elements
      .form         
        %p{:style => 'text-align:right;font-style:italic;font-size:.8em'} Fields with (*) are required
        = form_for @membership, :url => membership_create_path(@membership) do |f|
          - if @membership.errors.any?
            %p There were errors trying to send your message:               
            - @membership.errors.full_messages.each do |msg|   
              *        
              = msg
              %br/          
            %br/
          %div{:style => 'float:right;width:460px'}
            %p
              = f.label :business_name
              %br/
              = f.text_field :business_name, :style => 'width:400px'
              *           
            %p
              = f.label :email
              %br/
              = f.text_field :email, :style => 'width:300px'
              *
            %p
              = f.label :phone_number
              %br/
              = f.text_field :phone_number, :style => 'width:100px'
              *
            %p
              = f.label :date_of_birth
              %br/
              = f.text_field :date_of_birth, :style => 'width:100px'
              *
          %div{:style => 'float:left;width:460px'}
            %p
              = f.label :first_name
              %br/
              = f.text_field :first_name, :style => 'width:300px'
              *
            %p
              = f.label :last_name
              %br/
              = f.text_field :last_name, :style => 'width:300px'
              *
            %p
              = f.label :address_1
              %br/
              = f.text_field :address_1, :style => 'width:300px'
              *
            %p
              = f.label :address_2
              %br/
              = f.text_field :address_2, :style => 'width:300px'
              *
            %p
              = f.label :city
              %br/
              = f.text_field :city, :style => 'width:200px'
              *
            %p
              = f.label :state
              %br/
              = f.text_field :state, :style => 'width:200px'
              *
            %p
              = f.label :postal_code
              %br/
              = f.text_field :postal_code, :style => 'width:100px'
              *
          %div{:style => 'clear:both'}
          %hr/
          %p Please take a few minutes to answer the following questions to better serve you
          
          %p
            = f.submit 'Submit', :class => 'btn'